<main id="tournament">
	<ul *ngFor="let round of leagueDataService.currentSeason.playoffSchedule" class="round">
    <ng-container *ngFor="let matchup of round">
        <li class="spacer">&nbsp;</li>
        <li class="game game-top" [routerLink]="'/' + leagueDataService.currentSeason?.leagueId + '/team/' + matchup.higherSeedTeamId"
            [ngClass]="{ 'winner': matchup.higherSeedWins > matchup.bestOf / 2 }">
          {{leagueDataService.getTeamById(matchup.higherSeedTeamId).location}} {{leagueDataService.getTeamById(matchup.higherSeedTeamId).name}}
           <span>{{matchup.higherSeedWins}}</span>
        </li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom" [routerLink]="'/' + leagueDataService.currentSeason?.leagueId + '/team/' + matchup.lowerSeedTeamId"
          [ngClass]="{ 'winner': matchup.lowerSeedWins > matchup.bestOf / 2 }">
          {{leagueDataService.getTeamById(matchup.lowerSeedTeamId).location}} {{leagueDataService.getTeamById(matchup.lowerSeedTeamId).name}}
          <span>{{matchup.lowerSeedWins}}</span>
        </li>
    </ng-container>
    <li class="spacer">&nbsp;</li>
  </ul>
  <ul class="round" *ngIf="getLastPlayoffMatchup().length === 1 && getLastPlayoffWinner()">
      <li class="game game-top winner" [routerLink]="'/' + leagueDataService.currentSeason?.leagueId + '/team/' + getLastPlayoffWinner()">
        {{getLastPlayoffWinner ? leagueDataService.getTeamById(getLastPlayoffWinner()).location + ' ' + leagueDataService.getTeamById(getLastPlayoffWinner()).name : null}}
      </li>
  </ul>
</main>
