<div class="view-container">
  <app-team-free-agent *ngIf="leagueDataService.currentSeason?.phase === staticListsService.leaguePhases.freeAgency.name"></app-team-free-agent>
  <table>
    <thead>
      <tr class="header">
        <th>Name</th>
        <th>Pos</th>
        <th>Age</th>
        <th>Overall</th>
        <th>Negotiate</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let player of freeAgents">
        <tr *ngIf="player.playerType === staticListsService.playerTypes.batter" app-team-batter-row [batter]="player" displaySet="fa" button="negotiate"></tr>
        <tr *ngIf="player.playerType === staticListsService.playerTypes.pitcher" app-team-pitcher-row [pitcher]="player" displaySet="fa" button="negotiate"></tr>
      </ng-container>
    </tbody>
  </table>
</div>
