<div>
  <h3> {{ teamInstance?.location }} {{ teamInstance?.name }}</h3>
</div>
<div>
  <h5>Batters</h5>
</div>
<table>
  <thead>
    <tr class="header">
      <th>Name</th>
      <th>Age</th>
      <th>Position</th>
      <th>Order #</th>
      <th>Overall</th>
      <th>Contact</th>
      <th>Power</th>
      <th>Patience</th>
      <th>Speed</th>
      <th>AB</th>
      <th>AVG</th>
      <th>OBP</th>
      <th>SLG</th>
      <th>HR</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let batter of teamInstance?.roster?.batters">
      <tr app-team-batter-row [batter]="getPlayerById(batter.playerId)" [rosterBatter]="batter" [seasonStats]="getBatterSeasonStats(batter.playerId)" [seasonYear]="seasonInstance?.year" [teamInstance]="teamInstance"></tr>
    </ng-container>
   </tbody>
 </table>
<div>
  <h5>Pitchers</h5>
</div>
<table>
  <thead>
    <tr class="header">
      <th>Name</th>
      <th>Age</th>
      <th>Role</th>
      <th>Overall</th>
      <th>Velocity</th>
      <th>Control</th>
      <th>Movement</th>
      <th>Type</th>
      <th>W</th>
      <th>L</th>
      <th>SV</th>
      <th>G</th>
      <th>GS</th>
      <th>ERA</th>
      <th>WHIP</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let pitcher of teamInstance?.roster?.pitchers">
      <tr app-team-pitcher-row [pitcher]="getPlayerById(pitcher.playerId)" [rosterPitcher]="pitcher" [seasonStats]="getPitcherSeasonStats(pitcher.playerId)" [seasonYear]="seasonInstance?.year" [teamInstance]="teamInstance"></tr>
    </ng-container>
   </tbody>
 </table>

