<div>
  <h3> {{ teamInstance?.location }} {{ teamInstance?.name }}</h3>
</div>
<div>
  <h5>Batters</h5>
</div>
<table>
  <thead>
    <tr class="header">
      <th>Name</th>
      <th>Age</th>
      <th>Position</th>
      <th>Order #</th>
      <th>Overall</th>
      <th>Contact</th>
      <th>Power</th>
      <th>Patience</th>
      <th>Speed</th>
      <th>AB</th>
      <th>AVG</th>
      <th>OBP</th>
      <th>SLG</th>
      <th>HR</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let batter of teamInstance?.roster?.batters">
      <tr app-team-player-row [batter]="getPlayerById(batter.playerId)" [rosterBatter]="batter" [seasonStats]="getSeasonStats(batter.playerId)" [seasonYear]="seasonInstance?.year" [teamInstance]="teamInstance">
      </tr>
    </ng-container>
   </tbody>
 </table>
<div>
  <h5>Pitchers</h5>
</div>
<table>
  <thead>
    <tr class="header">
      <th>Name</th>
      <th>Age</th>
      <th>Role</th>
      <th>Overall</th>
      <th>Velocity</th>
      <th>Control</th>
      <th>Movement</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pitcher of teamInstance?.roster?.pitchers" >
      <td>
        {{ getPlayerById(pitcher.playerId)?.name }}
      </td>
      <td>
        {{ getPlayerById(pitcher.playerId)?.age }}
      </td>
      <td>
        <md-select [(ngModel)]="pitcher.startingPosition" (change)="onPitcherRoleChange(pitcher, $event)">
          <md-option *ngFor="let role of pitcherRoles" [value]="role">
            {{ role }}
          </md-option>
        </md-select>
      </td>
      <td>
        {{ overallPitchingAbility(getPlayerById(pitcher.playerId)) }} ({{ overallPitchingPotential(getPlayerById(pitcher.playerId)) }})
      </td>
      <td>
        {{ getPlayerById(pitcher.playerId)?.pitchingAbility.velocity }} ({{ getPlayerById(pitcher.playerId)?.pitchingPotential.velocity }})
      </td>
      <td>
        {{ getPlayerById(pitcher.playerId)?.pitchingAbility.control }} ({{ getPlayerById(pitcher.playerId)?.pitchingPotential.control }})
      </td>
      <td>
        {{ getPlayerById(pitcher.playerId)?.pitchingAbility.movement }} ({{ getPlayerById(pitcher.playerId)?.pitchingPotential.movement }})
      </td>
      <td>
        {{ getPlayerById(pitcher.playerId)?.pitchingAbility.type }}
      </td>
    </tr>
   </tbody>
 </table>

