<td *ngIf="showName" [routerLink]="'/' + pitcher?.leagueId + '/player/' + pitcher?._id">
  {{ pitcher?.name }}
</td>
<td *ngIf="showPosition">
    {{ pitcher.primaryPositions[0] }}
</td>
<td *ngIf="showSeasonYear">
    {{ seasonYear }}
</td>
<td *ngIf="showAge">
  {{ pitcher?.age }}
</td>
<td *ngIf="showRosterPosition && rosterPitcher">
  <mat-select *ngIf="!reserve" [(ngModel)]="rosterPitcher.startingPosition" (change)="onPitcherRoleChange(rosterPitcher, $event)">
    <mat-option *ngFor="let role of staticListsService.pitcherRoles" [value]="role">
      {{ role }}
    </mat-option>
  </mat-select>
</td>
<td *ngIf="showOvrAndPot">
  {{ overallPitching(pitcher?.pitchingAbility) }}
  <span *ngIf="isPitchingProgression()"
  [ngClass]="{ 'positive': overallPitching(pitchingProgression?.pitchingSkillset) > 0, 'negative': overallPitching(pitchingProgression?.pitchingSkillset) < 0 }" >
  [{{ overallPitching(pitchingProgression?.pitchingSkillset) }}]</span>
  ({{ overallPitching(pitcher?.pitchingPotential) }})
</td>
<td *ngIf="showOvr">
    {{ overallPitching(pitcher?.pitchingAbility) }}
  </td>
<td *ngIf="showPot">
    {{ overallPitching(pitcher?.pitchingPotential) }}
  </td>
<td *ngIf="showStamina">
  {{ pitcher?.currentStamina }}/100
</td>
<td *ngIf="showSkills">
  {{ pitcher?.pitchingAbility.velocity }}
  <span *ngIf="isPitchingProgression()"
  [ngClass]="{ 'positive': pitchingProgression?.pitchingSkillset.velocity > 0, 'negative': pitchingProgression?.pitchingSkillset.contact < 0 }" >
  [{{ pitchingProgression?.pitchingSkillset.velocity}}]</span>
  ({{ pitcher?.pitchingPotential.velocity }})
</td>
<td *ngIf="showSkills">
  {{ pitcher?.pitchingAbility.control }}
  <span *ngIf="isPitchingProgression()"
  [ngClass]="{ 'positive': pitchingProgression?.pitchingSkillset.velocity > 0, 'negative': pitchingProgression?.pitchingSkillset.contact < 0 }" >
  [{{ pitchingProgression?.pitchingSkillset.velocity}}]</span>
  ({{ pitcher?.pitchingPotential.control }})
</td>
<td *ngIf="showSkills">
  {{ pitcher?.pitchingAbility.movement }}
  <span *ngIf="isPitchingProgression()"
  [ngClass]="{ 'positive': pitchingProgression?.pitchingSkillset.velocity > 0, 'negative': pitchingProgression?.pitchingSkillset.contact < 0 }" >
  [{{ pitchingProgression?.pitchingSkillset.velocity}}]</span>
   ({{ pitcher?.pitchingPotential.movement }})
</td>
<td *ngIf="showSkills">
  {{ pitcher?.pitchingAbility.stamina }}
</td>
<td *ngIf="showSkills">
  {{ pitcher?.pitchingAbility.type }}
</td>
<td *ngIf="showStats">
  {{ seasonStats?.wins }}
</td>
<td *ngIf="showStats">
  {{ seasonStats?.losses }}
</td>
<td *ngIf="showStats">
  {{ seasonStats?.saves }}
</td>
<td *ngIf="showStats">
  {{ seasonStats?.appearances }}
</td>
<td *ngIf="showStats">
  {{ seasonStats?.starts }}
</td>
<td *ngIf="showStats">
  {{ seasonStats?.innings }}
</td>
<td *ngIf="showStats">
  {{ sharedFunctionsService.era(seasonStats).toPrecision(3) }}
</td>
<td *ngIf="showStats">
  {{ sharedFunctionsService.whip(seasonStats).toPrecision(3) }}
</td>
<td *ngIf="showStats">
  {{ seasonStats?.strikeouts }}
</td>
<td *ngIf="showStats">
  {{ seasonStats?.walks }}
</td>
<td *ngIf="showStats">
  {{ sharedFunctionsService.pitWar(seasonStats).toPrecision(3) }}
</td>
<td *ngIf="button === 'release'">
  <button mat-mini-fab color="primary" (click)="release()" matTooltip="Realease Player"><mat-icon>do_not_disturb</mat-icon></button>
  <button *ngIf="reserve" mat-mini-fab color="secondary" (click)="activate()" matTooltip="Activate Player"><mat-icon>vertical_align_top</mat-icon></button>
</td>
<td *ngIf="button === 'negotiate'">
  <button mat-raised-button color="primary" [routerLink]="'/' + pitcher?.leagueId + '/negotiate-contract/' + pitcher?._id">Negotiate</button>
</td>
