<td *ngIf="showName" [routerLink]="'/' + teamInstance?.leagueId + '/player/' + pitcher?._id">
  {{ pitcher?.name }}
</td>
<td *ngIf="showSeasonYear">
    {{ seasonYear }}
  </td>
<td *ngIf="showBatterAge">
  {{ pitcher?.age }}
</td>
<td *ngIf="showPosition && rosterPitcher">
  <md-select [(ngModel)]="rosterPitcher.startingPosition" (change)="onPitcherRoleChange(rosterPitcher, $event)">
    <md-option *ngFor="let role of pitcherRoles" [value]="role">
      {{ role }}
    </md-option>
  </md-select>
</td>
<td *ngIf="showOverall">
  {{ overallPitching(pitcher?.pitchingAbility) }}
  <span *ngIf="isPitchingProgression()"
  [ngClass]="{ 'positive': overallPitching(pitchingProgression?.pitchingSkillset) > 0, 'negative': overallPitching(pitchingProgression?.pitchingSkillset) < 0 }" >
  [{{ overallPitching(pitchingProgression?.pitchingSkillset) }}]</span>
  ({{ overallPitching(pitcher?.pitchingPotential) }})
</td>
<td *ngIf="showSkills">
  {{ pitcher?.pitchingAbility.velocity }}
  <span *ngIf="isPitchingProgression()"
  [ngClass]="{ 'positive': pitchingProgression?.pitchingSkillset.velocity > 0, 'negative': pitchingProgression?.pitchingSkillset.contact < 0 }" >
  [{{ pitchingProgression?.pitchingSkillset.velocity}}]</span>
  ({{ pitcher?.pitchingPotential.velocity }})
</td>
<td *ngIf="showSkills">
  {{ pitcher?.pitchingAbility.control }}
  <span *ngIf="isPitchingProgression()"
  [ngClass]="{ 'positive': pitchingProgression?.pitchingSkillset.velocity > 0, 'negative': pitchingProgression?.pitchingSkillset.contact < 0 }" >
  [{{ pitchingProgression?.pitchingSkillset.velocity}}]</span>
  ({{ pitcher?.pitchingPotential.control }})
</td>
<td *ngIf="showSkills">
  {{ pitcher?.pitchingAbility.movement }}
  <span *ngIf="isPitchingProgression()"
  [ngClass]="{ 'positive': pitchingProgression?.pitchingSkillset.velocity > 0, 'negative': pitchingProgression?.pitchingSkillset.contact < 0 }" >
  [{{ pitchingProgression?.pitchingSkillset.velocity}}]</span>
   ({{ pitcher?.pitchingPotential.movement }})
</td>
<td *ngIf="showSkills">
  {{ pitcher?.pitchingAbility.type }}
</td>
<td *ngIf="showStats">
  {{ seasonStats?.wins }}
</td>
<td *ngIf="showStats">
  {{ seasonStats?.losses }}
</td>
<td *ngIf="showStats">
  {{ seasonStats?.saves }}
</td>
<td *ngIf="showStats">
  {{ seasonStats?.appearances }}
</td>
<td *ngIf="showStats">
  {{ seasonStats?.starts }}
</td>
<td *ngIf="showStats">
  {{ seasonStats?.innings }}
</td>
<td *ngIf="showStats">
  {{ sharedFunctionsService.era(seasonStats) }}
</td>
<td *ngIf="showStats">
  {{ sharedFunctionsService.whip(seasonStats) }}
</td>
<td *ngIf="showStats">
  {{ seasonStats?.strikeouts }}
</td>
<td *ngIf="showStats">
  {{ seasonStats?.walks }}
</td>
