<mat-tab-group>
  <!--<mat-tab label="Play Game">
    <play-game-test></play-game-test>
  </mat-tab>
  <mat-tab label="Player Progression">
    <player-progression-test></player-progression-test>
  </mat-tab>
  <mat-tab label="Generate Player">
    <generate-player-test></generate-player-test>
  </mat-tab>
  <mat-tab label="Create Team">
    <create-team-test></create-team-test>
  </mat-tab>
  <mat-tab label="Cleanup DB">
    <admin-db-cleanup></admin-db-cleanup>
  </mat-tab>-->
  <mat-tab label="Generate Schedule">
    <app-generate-schedule-test></app-generate-schedule-test>
  </mat-tab>
</mat-tab-group>
