<div fxLayout="row" class="view-container">
    <div fxFlex="9">
      <mat-card>
        <button mat-raised-button color="primary" *ngIf="canStartDraft()" (click)="startDraft()">Start Draft</button>
        <button mat-raised-button color="primary" *ngIf="leagueDataService.league?.creatorAccountId === accountId && !canStartDraft() && !simming" (click)="startSimming()">Sim</button>
        <button mat-raised-button color="primary" *ngIf="leagueDataService.league?.creatorAccountId === accountId && !canStartDraft() && simming" (click)="stopSimming()">Stop Sim</button>
        <mat-radio-group [(ngModel)]="displayType">
          <mat-radio-button value="std">Standard</mat-radio-button>
          <mat-radio-button value="batSkill">Batting Skill</mat-radio-button>
          <mat-radio-button value="pitchSkill">Pitching Skill</mat-radio-button>
        </mat-radio-group>
      </mat-card>
    </div>
  <div fxFlex="50" fxFlexOffset="1">
    <mat-card>
      <table>
        <thead class="header">
          <th (click)='sharedFunctionsService.changeSort("name", sort)'>Name
            <mat-icon *ngIf="sort.sortType === 'name' && sort.sortDirection === 'desc'">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="sort.sortType === 'name' && sort.sortDirection === 'asc'">keyboard_arrow_up</mat-icon>
            <mat-icon *ngIf="sort.sortType != 'name'">remove</mat-icon>
          </th>
          <ng-container *ngIf="displayType==='std'">
          <th >Pos
              <mat-icon *ngIf="sort.sortType === 'pos' && sort.sortDirection === 'desc'" (click)='sharedFunctionsService.changeSort("pos", sort)'>keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="sort.sortType === 'pos' && sort.sortDirection === 'asc'" (click)='sharedFunctionsService.changeSort("pos", sort)'>keyboard_arrow_up</mat-icon>
              <mat-icon *ngIf="sort.sortType != 'pos'" (click)='sharedFunctionsService.changeSort("pos", sort)'>remove</mat-icon>
              <input style="width: 25px" [(ngModel)]="sort.positionFilter">
          </th>
          <th (click)='sharedFunctionsService.changeSort("age", sort)'>Age
              <mat-icon *ngIf="sort.sortType === 'age' && sort.sortDirection === 'desc'">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="sort.sortType === 'age' && sort.sortDirection === 'asc'">keyboard_arrow_up</mat-icon>
              <mat-icon *ngIf="sort.sortType != 'age'">remove</mat-icon>

          </th>
          <th (click)='sharedFunctionsService.changeSort("ovr", sort)'>Overall
              <mat-icon *ngIf="sort.sortType === 'ovr' && sort.sortDirection === 'desc'">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="sort.sortType === 'ovr' && sort.sortDirection === 'asc'">keyboard_arrow_up</mat-icon>
              <mat-icon *ngIf="sort.sortType != 'ovr'">remove</mat-icon>
          </th>
          <th (click)='sharedFunctionsService.changeSort("pot", sort)'>Potential
              <mat-icon *ngIf="sort.sortType === 'pot' && sort.sortDirection === 'desc'">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="sort.sortType === 'pot' && sort.sortDirection === 'asc'">keyboard_arrow_up</mat-icon>
              <mat-icon *ngIf="sort.sortType != 'pot'">remove</mat-icon>
          </th>
          </ng-container>
          <ng-container *ngIf="displayType==='batSkill'">
          <th (click)='sharedFunctionsService.changeSort("cont", sort)'>Contact
              <mat-icon *ngIf="sort.sortType === 'cont' && sort.sortDirection === 'desc'">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="sort.sortType === 'cont' && sort.sortDirection === 'asc'">keyboard_arrow_up</mat-icon>
              <mat-icon *ngIf="sort.sortType != 'cont'">remove</mat-icon>
          </th>
          <th (click)='sharedFunctionsService.changeSort("pat", sort)'>Patience
              <mat-icon *ngIf="sort.sortType === 'pat' && sort.sortDirection === 'desc'">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="sort.sortType === 'pat' && sort.sortDirection === 'asc'">keyboard_arrow_up</mat-icon>
              <mat-icon *ngIf="sort.sortType != 'pat'">remove</mat-icon>
          </th>
          <th (click)='sharedFunctionsService.changeSort("pow", sort)'>Power
              <mat-icon *ngIf="sort.sortType === 'pow' && sort.sortDirection === 'desc'">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="sort.sortType === 'pow' && sort.sortDirection === 'asc'">keyboard_arrow_up</mat-icon>
              <mat-icon *ngIf="sort.sortType != 'pow'">remove</mat-icon>
          </th>
          <th (click)='sharedFunctionsService.changeSort("spd", sort)'>Speed
              <mat-icon *ngIf="sort.sortType === 'spd' && sort.sortDirection === 'desc'">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="sort.sortType === 'spd' && sort.sortDirection === 'asc'">keyboard_arrow_up</mat-icon>
              <mat-icon *ngIf="sort.sortType != 'sdp'">remove</mat-icon>
          </th>
          <th (click)='sharedFunctionsService.changeSort("fld", sort)'>Fielding
              <mat-icon *ngIf="sort.sortType === 'fld' && sort.sortDirection === 'desc'">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="sort.sortType === 'fld' && sort.sortDirection === 'asc'">keyboard_arrow_up</mat-icon>
              <mat-icon *ngIf="sort.sortType != 'fld'">remove</mat-icon>
          </th>
          </ng-container>
          <ng-container *ngIf="displayType==='pitchSkill'">
          <th (click)='sharedFunctionsService.changeSort("vel", sort)'>Velocity
              <mat-icon *ngIf="sort.sortType === 'vel' && sort.sortDirection === 'desc'">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="sort.sortType === 'vel' && sort.sortDirection === 'asc'">keyboard_arrow_up</mat-icon>
              <mat-icon *ngIf="sort.sortType != 'vel'">remove</mat-icon>
          </th>
          <th (click)='sharedFunctionsService.changeSort("pat", sort)'>Movement
              <mat-icon *ngIf="sort.sortType === 'mov' && sort.sortDirection === 'desc'">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="sort.sortType === 'mov' && sort.sortDirection === 'asc'">keyboard_arrow_up</mat-icon>
              <mat-icon *ngIf="sort.sortType != 'mov'">remove</mat-icon>
          </th>
          <th (click)='sharedFunctionsService.changeSort("pow", sort)'>Control
              <mat-icon *ngIf="sort.sortType === 'ctrl' && sort.sortDirection === 'desc'">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="sort.sortType === 'ctrl' && sort.sortDirection === 'asc'">keyboard_arrow_up</mat-icon>
              <mat-icon *ngIf="sort.sortType != 'ctrl'">remove</mat-icon>
          </th>
          <th (click)='sharedFunctionsService.changeSort("stam", sort)'>Stamina
              <mat-icon *ngIf="sort.sortType === 'stam' && sort.sortDirection === 'desc'">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="sort.sortType === 'stam' && sort.sortDirection === 'asc'">keyboard_arrow_up</mat-icon>
              <mat-icon *ngIf="sort.sortType != 'stam'">remove</mat-icon>
          </th>
          <th (click)='sharedFunctionsService.changeSort("fld", sort)'>Type
              <mat-icon *ngIf="sort.sortType === 'type' && sort.sortDirection === 'desc'">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="sort.sortType === 'type' && sort.sortDirection === 'asc'">keyboard_arrow_up</mat-icon>
              <mat-icon *ngIf="sort.sortType != 'type'">remove</mat-icon>
          </th>
          </ng-container>
          <th>Draft</th>
        </thead>
        <tbody>
          <ng-container *ngFor="let player of getSortedPlayers()">
            <tr>
              <td [routerLink]="'/' + player?.leagueId + '/player/' + player?._id">{{player.name}}</td>
              <ng-container *ngIf="displayType==='std'">
                <td><span *ngFor="let pos of player.primaryPositions">{{ pos + ' ' }}</span></td>
                <td>{{player.age}}</td>
                <td>{{sharedFunctionsService.overallAbility(player)}}</td>
                <td>{{sharedFunctionsService.overallPotential(player)}}</td>
              </ng-container>
              <ng-container *ngIf="displayType==='batSkill'">
                <td>{{player.hittingAbility.contact}}[{{player.hittingPotential.contact}}]</td>
                <td>{{player.hittingAbility.patience}}[{{player.hittingPotential.patience}}]</td>
                <td>{{player.hittingAbility.power}}[{{player.hittingPotential.power}}]</td>
                <td>{{player.hittingAbility.speed}}[{{player.hittingPotential.speed}}]</td>
                <td>{{player.hittingAbility.fielding}}[{{player.hittingPotential.fielding}}]</td>
              </ng-container>
              <ng-container *ngIf="displayType==='pitchSkill'">
                <td>{{player.pitchingAbility.velocity}}[{{player.pitchingPotential.velocity}}]</td>
                <td>{{player.pitchingAbility.movement}}[{{player.pitchingPotential.movement}}]</td>
                <td>{{player.pitchingAbility.control}}[{{player.pitchingPotential.control}}]</td>
                <td>{{player.pitchingAbility.stamina}}[{{player.pitchingPotential.stamina}}]</td>
                <td>{{player.pitchingAbility.type}}</td>
              </ng-container>
              <td>
                <button mat-raised-button color="primary" *ngIf="isUsersPick()" (click)="draft(player)">Draft</button>
                <button mat-raised-button color="primary" *ngIf="!isUsersPick()" disabled>Draft</button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </mat-card>
  </div>
  <div fxFlex="39" fxFlexOffset="1">
    <mat-card>
      <table>
        <thead>
          <th>Pick #</th>
          <th>Team</th>
          <th>Pick</th>
        </thead>
        <tbody>
          <ng-container *ngFor="let pick of getClosePicks()">
            <tr>
              <td><span *ngIf="getCurrentPick()?.pickNumber === pick.pickNumber">*</span>{{pick.pickNumber}}</td>
              <td>{{leagueDataService.getTeamById(pick.teamId)?.location}} {{leagueDataService.getTeamById(pick.teamId)?.name}}
                  <span *ngIf="leagueDataService.getTeamById(pick.teamId)?.ownerAccountId">({{ leagueDataService.getAccountById(leagueDataService.getTeamById(pick.teamId)?.ownerAccountId)?.username }})</span>
              </td>
            <td>{{ leagueDataService.getPlayer(pick.playerId)?.name }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <table>
        <thead>
          <th>Pick #</th>
          <th>Team</th>
          <th>Pick</th>
        </thead>
        <tbody>
          <ng-container *ngFor="let pick of leagueDataService.league?.fantasyDraft.draftPicks">
            <tr>
              <td><span *ngIf="getCurrentPick()?.pickNumber === pick.pickNumber">*</span>{{pick.pickNumber}}</td>
              <td>{{leagueDataService.getTeamById(pick.teamId)?.location}} {{leagueDataService.getTeamById(pick.teamId)?.name}}
                  <span *ngIf="leagueDataService.getTeamById(pick.teamId)?.ownerAccountId">({{ leagueDataService.getAccountById(leagueDataService.getTeamById(pick.teamId)?.ownerAccountId)?.username }})</span>
              </td>
            <td>{{ leagueDataService.getPlayer(pick.playerId)?.name }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </mat-card>
  </div>
</div>
