<div>
  <button md-raised-button color="primary" (click)="playGame(1)">Play Game</button>

  <button md-raised-button color="primary" (click)="playGame(10)">Play 10 Games</button>

  <button md-raised-button color="primary" (click)="playGame(162)">Play Season</button>
</div>
<div fxLayout
     fxLayout.xs="column"
     fxLayoutAlign=""
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
<div fxFlex="40%">
  <h4>Home Team</h4>
  <div *ngFor="let batter of teamA.batters">
    <md-input-container>
     <input mdInput disabled="true" style="width: 80px" [(ngModel)]="batter.name" placeholder="position"/>
    </md-input-container>
    <!-- <md-input-container>
     <input mdInput disabled="true" [(ngModel)]="batter.position" placeholder="position"/>
    </md-input-container> -->
    <md-input-container>
     <input mdInput type="number" min="0" max="20" [(ngModel)]="batter.skills.contact" placeholder="contact"/>
    </md-input-container>
    <md-input-container>
     <input mdInput type="number" min="0" max="20" [(ngModel)]="batter.skills.power" placeholder="power"/>
    </md-input-container>
    <md-input-container>
     <input mdInput type="number" min="0" max="20" [(ngModel)]="batter.skills.patience" placeholder="patience"/>
    </md-input-container>
    <md-input-container>
     <input mdInput type="number" min="0" max="20" [(ngModel)]="batter.skills.speed" placeholder="speed"/>
    </md-input-container>
    <md-input-container>
     <input mdInput type="number" disabled="true" style="width: 40px" [value]="getOutcomeTotal(batter.id, 'plateAppearance', homeTeamStats)" placeholder="PA"/>
    </md-input-container>
    <md-input-container>
     <input mdInput type="number" disabled="true" style="width: 40px" [value]="getOutcomeTotal(batter.id, 'single', homeTeamStats)" placeholder="1B"/>
    </md-input-container>
    <md-input-container>
     <input mdInput type="number" disabled="true" style="width: 40px" [value]="getOutcomeTotal(batter.id, 'double', homeTeamStats)" placeholder="2B"/>
    </md-input-container>
    <md-input-container>
     <input mdInput type="number" disabled="true" style="width: 40px" [value]="getOutcomeTotal(batter.id, 'triple', homeTeamStats)" placeholder="3B"/>
    </md-input-container>
    <md-input-container>
     <input mdInput type="number" disabled="true" style="width: 40px" [value]="getOutcomeTotal(batter.id, 'homerun', homeTeamStats)" placeholder="HR"/>
    </md-input-container>
    <md-input-container>
     <input mdInput type="number" disabled="true" style="width: 40px" [value]="getOutcomeTotal(batter.id, 'strikeout', homeTeamStats)" placeholder="K"/>
    </md-input-container>
    <md-input-container>
     <input mdInput type="number" disabled="true" style="width: 40px" [value]="getOutcomeTotal(batter.id, 'walk', homeTeamStats)" placeholder="BB"/>
    </md-input-container>
    <md-input-container>
     <input mdInput type="number" disabled="true" style="width: 50px" placeholder="AVG"
     [value]="getOutcomeTotal(batter.id, 'hits', homeTeamStats) / (getOutcomeTotal(batter.id, 'plateAppearance', homeTeamStats) - getOutcomeTotal(batter.id, 'walk', homeTeamStats))" />
    </md-input-container>
    <md-input-container>
     <input mdInput type="number" disabled="true" style="width: 50px" placeholder="OBP"
     [value]="(getOutcomeTotal(batter.id, 'hits', homeTeamStats) + getOutcomeTotal(batter.id, 'walk', homeTeamStats)) / getOutcomeTotal(batter.id, 'plateAppearance', homeTeamStats)" />
    </md-input-container>
  </div>
  <div>
    <md-input-container>
     <input mdInput disabled="true" style="width: 80px" [(ngModel)]="teamA.pitcher.name" placeholder="name"/>
    </md-input-container>
    <md-input-container>
     <input mdInput disabled="true" style="width: 80px" [(ngModel)]="teamA.pitcher.position" placeholder="position"/>
    </md-input-container>
    <md-input-container>
     <input mdInput type="number" min="0" max="20" [(ngModel)]="teamA.pitcher.skills.velocity" placeholder="velocity"/>
    </md-input-container>
    <md-input-container>
     <input mdInput type="number" min="0" max="20" [(ngModel)]="teamA.pitcher.skills.stuff" placeholder="stuff"/>
    </md-input-container>
    <md-input-container>
     <input mdInput type="number" min="0" max="20" [(ngModel)]="teamA.pitcher.skills.control" placeholder="control"/>
    </md-input-container>
  </div>
</div>
<div fxFlex="40%">
  <h4>Away Team</h4>
  <div *ngFor="let batter of teamB.batters">
    <md-input-container>
     <input mdInput disabled="true" style="width: 80px" [(ngModel)]="batter.name" placeholder="position"/>
    </md-input-container>
    <!-- <md-input-container>
     <input mdInput disabled="true" [(ngModel)]="batter.position" placeholder="position"/>
    </md-input-container> -->
    <md-input-container>
     <input mdInput type="number" min="0" max="20" [(ngModel)]="batter.skills.contact" placeholder="contact"/>
    </md-input-container>
    <md-input-container>
     <input mdInput type="number" min="0" max="20" [(ngModel)]="batter.skills.power" placeholder="power"/>
    </md-input-container>
    <md-input-container>
     <input mdInput type="number" min="0" max="20" [(ngModel)]="batter.skills.patience" placeholder="patience"/>
    </md-input-container>
    <md-input-container>
     <input mdInput type="number" min="0" max="20" [(ngModel)]="batter.skills.speed" placeholder="speed"/>
    </md-input-container>
    <md-input-container>
     <input mdInput type="number" disabled="true" style="width: 40px" [value]="getOutcomeTotal(batter.id, 'plateAppearance', awayTeamStats)" placeholder="PA"/>
    </md-input-container>
    <md-input-container>
     <input mdInput type="number" disabled="true" style="width: 40px" [value]="getOutcomeTotal(batter.id, 'single', awayTeamStats)" placeholder="1B"/>
    </md-input-container>
    <md-input-container>
     <input mdInput type="number" disabled="true" style="width: 40px" [value]="getOutcomeTotal(batter.id, 'double', awayTeamStats)" placeholder="2B"/>
    </md-input-container>
    <md-input-container>
     <input mdInput type="number" disabled="true" style="width: 40px" [value]="getOutcomeTotal(batter.id, 'triple', awayTeamStats)" placeholder="3B"/>
    </md-input-container>
    <md-input-container>
     <input mdInput type="number" disabled="true" style="width: 40px" [value]="getOutcomeTotal(batter.id, 'homerun', awayTeamStats)" placeholder="HR"/>
    </md-input-container>
    <md-input-container>
     <input mdInput type="number" disabled="true" style="width: 40px" [value]="getOutcomeTotal(batter.id, 'strikeout', awayTeamStats)" placeholder="K"/>
    </md-input-container>
    <md-input-container>
     <input mdInput type="number" disabled="true" style="width: 40px" [value]="getOutcomeTotal(batter.id, 'walk', awayTeamStats)" placeholder="BB"/>
    </md-input-container>
    <md-input-container>
     <input mdInput type="number" disabled="true" style="width: 50px" placeholder="AVG"
     [value]="getOutcomeTotal(batter.id, 'hits', awayTeamStats) / (getOutcomeTotal(batter.id, 'plateAppearance', awayTeamStats) - getOutcomeTotal(batter.id, 'walk', awayTeamStats))" />
    </md-input-container>
    <md-input-container>
     <input mdInput type="number" disabled="true" style="width: 50px" placeholder="OBP"
     [value]="(getOutcomeTotal(batter.id, 'hits', awayTeamStats) + getOutcomeTotal(batter.id, 'walk', awayTeamStats)) / getOutcomeTotal(batter.id, 'plateAppearance', awayTeamStats)" />
    </md-input-container>
  </div>
  <div>
    <md-input-container>
     <input mdInput disabled="true" style="width: 80px" [(ngModel)]="teamB.pitcher.name" placeholder="name"/>
    </md-input-container>
    <md-input-container>
     <input mdInput disabled="true" style="width: 80px" [(ngModel)]="teamB.pitcher.position" placeholder="position"/>
    </md-input-container>
    <md-input-container>
     <input mdInput type="number" min="0" max="20" [(ngModel)]="teamB.pitcher.skills.velocity" placeholder="velocity"/>
    </md-input-container>
    <md-input-container>
     <input mdInput type="number" min="0" max="20" [(ngModel)]="teamB.pitcher.skills.stuff" placeholder="stuff"/>
    </md-input-container>
    <md-input-container>
     <input mdInput type="number" min="0" max="20" [(ngModel)]="teamB.pitcher.skills.control" placeholder="control"/>
    </md-input-container>
  </div>
</div>
<div fxFlex="20%" >
<div> Home Wins: {{ homeWins }} Away Wins: {{ awayWins }} </div>
<div> Home RPG: {{ homeTeamStats?.runs / games }} Away RGP: {{ awayTeamStats?.runs / games }} </div>
  <h4>Game Log</h4>
<div [innerHtml]="game?.gameLogString"></div>
</div>
</div>