<mat-toolbar color="primary">
  <button mat-button [routerLink]="'/'+ leagueId + '/league-home'">Home</button>
  <button mat-button [matMenuTriggerFor]="sim">{{leagueDataService.league?.simming ? 'Simming...' : 'Sim'}}</button>
  <mat-menu #sim="matMenu">
    <ng-container *ngIf="!leagueDataService.league?.simming">
      <ng-container *ngIf="areDaysLeftInSeason()">
          <button mat-menu-item (click)="simDays(1)">Sim Day</button>
          <button mat-menu-item (click)="simDays(6)">Sim Week</button>
          <button mat-menu-item (click)="simDays(restOfSeason)">Sim Rest Of Season</button>
      </ng-container>
      <ng-container *ngIf="!areDaysLeftInSeason() && !leagueDataService.currentSeason.playoffSchedule">
        <button mat-menu-item  (click)="generatePlayoffs()">Generate Playoffs</button>
      </ng-container>
      <ng-container *ngIf="!areDaysLeftInSeason() && leagueDataService.currentSeason.playoffSchedule && !playoffsCompleted()">
        <button mat-menu-item (click)="simPlayoffDays(1)">Sim Day</button>
        <button mat-menu-item (click)="simPlayoffDays(restOfPlayoffRound)">Sim Matchup</button>
      </ng-container>
      <ng-container *ngIf="playoffsCompleted()">
        <button mat-menu-item (click)="playOffseason()">Sim Offseason </button>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="leagueDataService.league?.simming && areDaysLeftInSeason()">
      <button mat-menu-item  (click)="stopSimming()">Stop Simming</button>
    </ng-container>
  </mat-menu>
  <button mat-button [routerLink]="'/'+ leagueId + '/free-agents'">Free Agents</button>
</mat-toolbar>

<router-outlet class="league-page-container"></router-outlet>
