<mat-toolbar color="primary">
  <button mat-button [routerLink]="'/'+ leagueId + '/league-home'">Home</button>
  <button mat-button [matMenuTriggerFor]="sim">{{leagueDataService.league?.simming ? 'Simming...' : 'Sim'}}</button>
  <mat-menu #sim="matMenu">
    <ng-container *ngIf="!leagueDataService.league?.simming">
      <ng-container *ngIf="areDaysLeftInSeason()">
          <button mat-menu-item (click)="simatays(1)">Sim Day</button>
          <button mat-menu-item (click)="simatays(6)">Sim Week</button>
          <button mat-menu-item (click)="simatays('ROS')">Sim Rest Of Season</button>
      </ng-container>
      <button mat-menu-item *ngIf="!areDaysLeftInSeason()" (click)="playOffseason()">Sim Offseason</button>
    </ng-container>
    <ng-container *ngIf="leagueDataService.league?.simming && areDaysLeftInSeason()">
      <button mat-menu-item  (click)="stopSimming()">Stop Simming</button>
    </ng-container>
  </mat-menu>
  <button mat-button [routerLink]="'/'+ leagueId + '/free-agents'">Free Agents</button>
</mat-toolbar>

<router-outlet></router-outlet>
