<div>
    <button md-raised-button color="primary" (click)="clearLeagues()">Clear Leagues</button>
    <button md-raised-button color="primary" (click)="clearTeams()">Clear Teams</button>
    <button md-raised-button color="primary" (click)="clearPlayers()">Clear Players</button>
    <button md-raised-button color="primary" (click)="clearSeasons()">Clear Seasons</button>
    <button md-raised-button color="primary" (click)="clearGames()">Clear Games</button>
    <button md-raised-button color="primary" (click)="clearAll()">Clear All</button>
</div>
