<mat-toolbar color="primary">
  Create New League
</mat-toolbar>
<div *ngIf="!isGenerating">
    <div>
        <mat-input-container>
          <input matInput [(ngModel)]="leagueName" placeholder="League Name">
        </mat-input-container>
      </div>
      <div>
        <mat-select [(ngModel)]="numberOfTeams" placeholder="Teams">
          <mat-option [value]="4">4</mat-option>
          <mat-option [value]="30">30</mat-option>
        </mat-select>
      </div>
      <div style="margin-top: 20px">
        <mat-slide-toggle [(ngModel)]="useMlbTeams">Use Real MLB Teams</mat-slide-toggle>
      </div>
      <div mat-dialog-actions>
        <button mat-button mat-raised-button (click)="onNoClick()">Cancel</button>
        <button mat-button mat-raised-button (click)="generateLeague()" color="primary">Ok</button>
      </div>
</div>
<div *ngIf="isGenerating">
    <mat-progress-bar  mode="determinate" [value]="sharedFunctionsService.progressBarValue"></mat-progress-bar>
    <div>
      {{sharedFunctionsService.loadingText}}...
    </div>
</div>
