<md-toolbar color="primary">
  Create New League
</md-toolbar>
<div *ngIf="!isGenerating">
    <div>
        <md-input-container>
          <input mdInput [(ngModel)]="leagueName" placeholder="League Name">
        </md-input-container>
      </div>
      <div>
        <md-select [(ngModel)]="numberOfTeams" placeholder="Teams">
          <md-option [value]="4">4</md-option>
          <md-option [value]="30">30</md-option>
        </md-select>
      </div>
      <div md-dialog-actions>
        <button md-button md-raised-button (click)="onNoClick()">Cancel</button>
        <button md-button md-raised-button (click)="generateLeague()" color="primary">Ok</button>
      </div>
</div>
<md-spinner *ngIf="isGenerating"></md-spinner>
