@import url('https://fonts.googleapis.com/css?family=Atomic Age');
@import url('https://fonts.googleapis.com/css?family=Faster One');
@import url('https://fonts.googleapis.com/css?family=Jacques Francois Shadow');
@import url('https://fonts.googleapis.com/css?family=Meie Script');
@import url('https://fonts.googleapis.com/css?family=PT Serif Caption');
@import url('https://fonts.googleapis.com/css?family=Playball');
@import url('https://fonts.googleapis.com/css?family=Pinyon Script');

.positive{
  color: green
}

.negative{
  color: red
}


table{
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  background: gray;
  display: table;
  @media screen and (max-width: 580px){
   display: block;
  }
}


tr{
  display: table-row;
  background: #f6f6f6;
  @media screen and (max-width: 580px){
    padding: 8px 0;
    display: block;
  }
}

tr:nth-child(even){
 background: #e9e9e9;
}

tr.reserve{
  background: darkgray !important
}

tr.header{
    font-weight: 900;
    color: #ffffff;
    background: #2980b9
}



td{
  padding: 6px 12px;
  display: table-cell;
  @media screen and (max-width: 580px){
    padding: 2px 12px;
    display: block;
  }
}

.spacer{
  flex: 1 1 auto;
}

.view-container{
  margin: 10px;
}
