<td>
  {{ batter?.name }}
</td>
<td>
  {{ batter?.age }}
</td>
<td>
  <md-select [(ngModel)]="rosterBatter.startingPosition" (change)="onPositionChange(batter, $event)">
    <md-option *ngFor="let position of positions" [value]="position">
      {{ position }}
    </md-option>
  </md-select>
</td>
<td>
  <md-select [(ngModel)]="rosterBatter.orderNumber" (change)="onOrderChange(batter, $event)">
    <md-option *ngFor="let orderNumber of orderNumbers" [value]="orderNumber">
      {{ orderNumber }}
    </md-option>
  </md-select>
</td>
<td>
  {{ overallHittingAbility(batter) }}
  ({{ overallHittingPotential(batter) }})
</td>
<td>
  {{ batter.hittingAbility.contact }}
  <span *ngIf="isHittingProgression()"
  [ngClass]="{ 'positive': hittingProgression?.hittingSkillset.contact > 0, 'negative': hittingProgression?.hittingSkillset.contact < 0 }" >
  [{{hittingProgression?.hittingSkillset.contact}}]</span>
   ({{ batter?.hittingPotential.contact }})
</td>
<td>
  {{ batter?.hittingAbility.power }}
  <span *ngIf="isHittingProgression()"
  [ngClass]="{ 'positive': hittingProgression?.hittingSkillset.power > 0, 'negative': hittingProgression?.hittingSkillset.power < 0 }" >
  [{{hittingProgression?.hittingSkillset.power}}]</span>
  ({{ batter?.hittingPotential.power }})
</td>
<td>
  {{ batter?.hittingAbility.patience }}
  <span *ngIf="isHittingProgression()"
  [ngClass]="{ 'positive': hittingProgression?.hittingSkillset.patience > 0, 'negative': hittingProgression?.hittingSkillset.patience < 0 }" >
  [{{hittingProgression?.hittingSkillset.patience}}]</span>
  ({{ batter?.hittingPotential.patience }})
</td>
<td>
  {{ batter?.hittingAbility.speed }}
  <span *ngIf="isHittingProgression()"
  [ngClass]="{ 'positive': hittingProgression?.hittingSkillset.speed > 0, 'negative': hittingProgression?.hittingSkillset.speed < 0 }" >
  [{{hittingProgression?.hittingSkillset.speed}}]</span>
  ({{ batter?.hittingPotential.speed }})
</td>
<td>
  {{ seasonStats?.atBats }}
</td>
<td>
  {{ seasonStats?.average }}
</td>
<td>
  {{ seasonStats?.obp }}
</td>
<td>
  {{ seasonStats?.slg }}
</td>
<td>
  {{ seasonStats?.homeruns }}
</td>
